@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.topo, .rodape{
    width: 100%;
    padding: 16px 0;
    text-align: center;
    background-color: #ff8014;
    color: #fff;
    font-size: 20px;
}

.limita-largura{
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

.apresentacao{
    width: calc(100% - 70px);
    height: 300px;
    overflow-y: scroll;
}

.galeria{
    width: calc(100% - 70px);
}

.area, h2{
    margin: 20px 35px;
}

.galeria img, .area p, .area-tres-imagens{
    width: 100%;
    margin: 15px auto;
}

.area-tres-imagens{
    display: flex;
    overflow-x: scroll;
}

.galeria img{
    width: calc((100% / 3) - 3px);
    margin: 0 1.5px;
}